.video-card {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    /* cursor: pointer; */
    background-color: #392ced;

}

.video-card .thumbnail {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: black;

}

.video-card .thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    cursor: pointer;
}

.thumbnail-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.video-card .thumbnail:hover .thumbnail-img {
    display: flex;
}

.video-card .thumbnail .play {
    height: 50px;
    width: 50px;

}

.video-description {
    /* color: aliceblue; */
    color: rgb(255, 255, 255);
    padding: 10px;
}