.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
    height: 100vh;
    width: 100vw;
}

.login {
    height: 530px;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(125deg, #7ee8fa 50%, #eec0c6 50%);
    border: 2px solid yellowgreen;
    padding: 10px;
}

.login img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.input-username {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.username-icon {
    /* margin-bottom: 30px; */
    top: -15px;
}

/* .faicon {
    background-color: black;
} */

.input-username input {
    height: 40px;
    width: 240px;
    border: none;
    outline: none;

}

::placeholder {
    padding-left: 30px;
}

.login-btn button {
    height: 40px;
    width: 240px;
    gap: 40px;
    background-color: aliceblue;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 5px;
}

.login-btn.login-dummy-user {
    background-color: blue;


}

.signup {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.password-forget-btn {
    height: 50px;
    width: 120px;
    background-color: aliceblue;
    outline: none;
    border: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.signup-btn {
    height: 50px;
    width: 120px;
    background-color: aliceblue;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    outline: none;
    border: none;
    border: 2px solid black;
}