.main-forgetpassword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #002244;
    height: 100vh;
    width: 100vw;

}

.forget-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 400px;
    background-color: aliceblue;
    gap: 20px;
}

.forget-password-content input {
    height: 35px;
    width: 250px;
}