.main-forgetpassword {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eec0c6;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

}

.forget-password-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 400px;
    background-color: aliceblue;
    gap: 20px;
    background: linear-gradient(140deg, #7ee8fa 50%, #eec0c6 50%);
    border: 2px solid red;
}

.forget-password-content input {
    height: 35px;
    width: 250px;
    padding-left: 5px;
}

.forget-password-content button {
    height: 30px;
    width: 100px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.forget {
    position: relative;
}

.forget-icon {
    position: absolute;
    top: 10px;
    left: 10px;
}