.Nav {
    height: 55px;
    width: 100vw;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000000; */
    background-color: #003151;
}

.leftnav {
    /* background-color: #7ee8fa; */
    color: aliceblue;
    padding-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.like {
    height: 40px;
    width: 60px;
    background-color: #191970;
    /* color: #13274F; */
    /* color: black; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.share {
    height: 40px;
    width: 60px;
    background-color: #191970;
    /* color: black; */
    /* color: #13274F; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.history {
    height: 40px;
    width: 60px;
    background-color: #191970;
    /* color: black; */
    /* color: #13274F; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 5px;
}


.save {
    height: 40px;
    width: 60px;
    background-color: #191970;
    /* color: black; */
    /* color: #13274F; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.leftnav img {
    height: 50px;
    width: 55px;
    border-radius: 100%;
}

.rightnav ul {
    /* width: 50%; */
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: red; */
    gap: 20px;
    padding-right: 25px;
    list-style-type: none;
}

.rightnav img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}


.rightnav button {
    height: 30px;
    width: 65px;
    padding: 5px;
    border-radius: 9px;
    /* background-color: red; */
    border: none;
    outline: none;
    /* box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.1); */
}

a {
    color: aliceblue;
    text-decoration: none;

}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 800px;
    padding: 10px;
    /* background-color: black; */
    background-color: #003151;
}

.hamburger {
    padding: 15px;


}

.icon {
    color: aliceblue;
}

.rightnav .hamburger {
    display: none;
}


/* menu */

nav {
    position: relative;
}

.main-manu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    transition: 0.2s;
    z-index: 10;
}

.left-menu {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
}

.right-menu {
    background-color: #556482;
    /* background-color: white; */
    height: 100vh;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;


}

.cross-icon {
    height: 35px;
    width: 35px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 30px; */
    flex-direction: column;
    gap: 10px;
    z-index: 10;

}

.gallery img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.humberger-content {
    display: flex;
    justify-content: center;
    align-items: center;


}

.gallery-content {
    z-index: 10;
}

@media only screen and (max-width: 670px) {
    .rightnav ul {
        display: none;
    }

    .like {
        display: none;
    }

    .share {
        display: none;
    }

    .save {
        display: none;
    }

    .rightnav .hamburger {
        display: block;
    }

    .menu-visible {
        right: 0;
    }

    .history {
        display: none;
    }
}