.mainsinglepage {
    display: flex;
    min-height: 900px;
    width: 100vw;

}

/* .left-singlepage {
    top: 0px;
    position: sticky;
} */

.left-singlepage-video {
    position: sticky;
    top: 0px;

}

iframe {
    position: sticky;
}

/* .left-singlepage img {
    background-color: blue;
    min-height: 450px;
    width: 950px;
} */

/* .left-singlepage-video {
    height: 570px;
    background-color: cadetblue;
} */

/* .left-singlepage-video img {
    height: 450px;
    width: 70%;
} */

.left-singlepage-comments {
    height: 450px;
    background-color: crimson;
}

.like-btn button {
    height: 35px;
    width: 60px;
    padding: 5px;
    margin: 10px;
    background-color: red;
    border: none;
    outline: none;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 5px;
}

.right-singlepage {
    min-height: 1775rem;
    width: 30%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;


}

/* 
.thumbnail-img {
    height: 250px;
    width: 280px;
} */

.suggest-video-video-card {
    display: flex;
    flex-direction: column;

}

.suggest-video {
    height: 180px;
    width: 380px;
    display: flex;
    flex-direction: column;
}

/* .suggest-img {
    height: 100px;
    width: 380px;
} */

/* .suggest-content {
    height: 180px;
    width: 320px;

} */

.loading {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}