.mainsinglepage {
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.mainsinglepage-left {
    min-height: 100vh;
    width: 1000px;
}

.mainsinglepage-left-video {
    /* background-color: blueviolet; */
    height: 70vh;
    border: 2px solid red;
    display: flex;
    align-items: flex-end;
    gap: 120px;
}

.mainsinglepage-left-video-icon {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding-bottom: 10px;
    color: black;
}

.mainsinglepage-left-video-icon img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding-left: 10px;
    padding-top: 10px;
    box-shadow: 10px;
}

.mainsinglepage-left-video-icon button {
    height: 35px;
    width: 120px;
    border-radius: 20px;
    color: black;
}

.like-share-download {
    display: flex;
    gap: 18px;
    padding-bottom: 10px;
}

.like-share-download button {
    height: 35px;
    width: 120px;
    border-radius: 20px;
}

.mainsinglepage-left-comment {
    height: 73vh;
    border: 2px solid yellowgreen;
    /* background-color: aliceblue; */

}

.mainsinglepage-left-comment {
    color: black;
}

.mainsinglepage-left-comment .comment-box {
    color: aliceblue;
}

.mainsinglepage-left-comment {
    padding: 20px;
}

.comments {
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: flex-start;
    gap: 10px;
}

.comment-content {
    margin-top: 15px;
    color: black;
}

.placeholder {
    background-color: aliceblue;
}

.mainsinglepage-left-comment img {
    /* padding-left: 25px; */
    margin-left: 20px;
}

.comment-img {
    display: flex;

}

.mainsinglepage-left-comment img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 10px;
}

.mainsinglepage-left-comment.comments {
    display: flex;
    justify-content: flex-end;
    /* color: black; */

}

.mainsinglepage-right {
    /* background-color: blue; */
    width: 400px;
    height: 1000px;
    /* height: 100vh; */

}