.mainsinglepage {
    display: flex;
    min-height: 900px;
    width: 100vw;
    /* background-color: blue; */
}

.left-singlepage img {
    background-color: blue;
    min-height: 450px;
    width: 950px;
}

.left-singlepage-video {
    height: 550px;
    background-color: cadetblue;
}

.left-singlepage-video img {
    height: 450px;
    width: 950px;
}

/* .iframe {
    height: 400px;
    width: 924px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
} */
.left-singlepage-comments {
    height: 450px;
    background-color: crimson;
}

.like-btn {
    /* padding: 10px; */
    padding-left: 10px;
    gap: 10px;
}

.like-btn.btn1 {
    padding: 10px;
}

.right-singlepage {
    min-height: 900px;
    width: 420px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggest-video {
    height: 180px;
    width: 380px;
    background-color: brown;
}

.suggest-discription {
    height: 180px;
    width: 380px;
    background-color: chocolate;
}

.loading {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}